<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Head content here -->
</head>
<body>
<form
        th:method="POST" th:action="@{/patients/save/{hospitalId} (hospitalId = ${hospitalId})}" th:object="${newPatient}">

  <div>
    <label for="firstname">FirstName</label>
    <input type="text" th:field="*{firstname}" id="firstname">
  </div>

  <div>
    <label for="lastname">LastName</label>
    <input type="text" th:field="*{lastname}" id="lastname">
  </div>

  <div>
    <label for="gender">Gender</label>
    <input type="text" th:field="*{gender}" id="gender">
  </div>

  <div>
    <label for="phoneNumber">PhoneNumber</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
  </div>


  <button type="submit">Save Patient</button>
  <!--  <a class="btn btn-primary" href="/departments/{hospitalId} (hospitalId=${hospitalId})" role="button">Go Back</a>-->

</form>
</body>
</html>









