<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Department</title>
</head>
<body>

<form th:method="POST" th:action="@{/patients/{hospitalId}/edit/{patId}(hospitalId=${hospitalId}, patId=${patId})}"
      th:object="${thisPatient}">


  <div>
    <label for="firstname">FirstName</label>
    <input type="text" th:field="*{firstname}" id="firstname">
  </div>

  <div>
    <label for="lastname">LastName</label>
    <input type="text" th:field="*{lastname}" id="lastname">
  </div>

  <div>
    <label for="gender">Gender</label>
    <input type="text" th:field="*{gender}" id="gender">
  </div>

  <div>
    <label for="phoneNumber">PhoneNumber</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
  </div>

  <button type="submit">Update</button>

</form>

<!--<a class="btn btn-primary" href="/{hospitalId}/departments/{depId} (hospitalId=${hospitalId}, depId=${depId})" role="button">Go Back</a>-->

</body>
</html>